<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.gitwatch.notes</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/gitwatch</string>
        <string>-r</string>
        <string>git@github.com:marcus-grant/notes</string>
        <string>-l</string>
        <string>64</string>
        <string>/Users/marcus/Documents/notes</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
        <key>DIR_NOTE</key>
        <string>/Users/marcus/Documents/notes</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>